<div class="footer-wrapper" [class.main]="shouldShowExtra()" [class.second]="!shouldShowExtra()">
    <footer>
        <h2 *ngIf="shouldShowExtra()">{{"footer.h2" | translate }}</h2>
        <div *ngIf="shouldShowExtra()" class="contact-container">
            <p>{{"footer.description1" | translate }}</p>
            <p>{{"footer.description2" | translate }}</p>
            <app-contact></app-contact>
        </div>
        <div class="icon-area">
            <div>
                <img (click)="scrollToHero()" src="assets/img/vm_logo_transparent .png" alt="vm_logo_transparent">
                <p>&copy; Vadim Michel 2025</p>
                <p (click)="openLegalNotice()" class="legal-notic-responsive">{{"footer.LegalNotics" | translate }}</p>
            </div>
            <div>
                <div class="arrow-container">
                    <img *ngIf="shouldShowExtra()" (click)="scrollToHero()" src="assets/icons/arrow_up.png" alt="arrow_up">
                </div>
                <div>
                    <a href="https://www.github.com/VadimMichel" target="_blank"><img src="assets/icons/git.png" alt=""></a>
                    <a href="https://www.linkedin.com/in/vadim-michel-088792239/?lipi=urn%3Ali%3Apage%3Ad_flagship3_notifications%3BY7T%2BrF6ZT1656PYLN9go3w%3D%3D" target="_blank"><img src="assets/icons/linkedin.png" alt=""></a>
                    <a href="mailto:vadimmichel5@gmail.com" target="_blank"><img src="assets/icons/mail.png" alt=""></a>
                </div>
                <div class="legal-notice" 
                    [ngClass]="{
                        'animate-de': currentLang === 'de',
                        'animate-en': currentLang === 'en'
                    }">
                    <p (click)="openLegalNotice()">{{"footer.LegalNotics" | translate }}</p>
                    <img src="./assets/icons/legal_notice_underline.svg" alt="underline">
                </div>
            </div>
        </div>
    </footer>
</div>