<footer>
    <h2>{{"footer.h2" | translate }}</h2>
    <div class="contact-container">
        <p>{{"footer.description1" | translate }}</p>
        <p>{{"footer.description2" | translate }}</p>
        <form>
            <label>
                <input type="text" formControlName="name" />
            </label>
            <label>
                <input type="email" formControlName="email" />
                
            </label>
            <label>
                <textarea rows="4" formControlName="message"></textarea>
            </label>
            <div>
                <input type="checkbox">
                <span>{{"footer.privacyPolicy1" | translate }} <a href="#">{{"footer.privacyPolicy2" | translate }} </a> {{"footer.privacyPolicy3" | translate }}</span>
            </div>
            <button type="submit" >Absenden</button>
        </form>
    </div>
    <div class="icon-area">
        <div>
            <img src="assets/img/vm_logo_transparent.png" alt="">
            <p>&copy; Vadim Michel 2025</p>
        </div>
        <div>
            <div class="arrow-container">
                <img src="assets/icons/arrow_up.png" alt="">
            </div>
            <div>
                <img src="assets/icons/git.png" alt=""><img src="assets/icons/linkedin.png" alt=""><img src="assets/icons/mail.png" alt="">
            </div>
            <p>{{"footer.LegalNotics" | translate }}</p>
        </div>
    </div>
</footer>
    

