footer{
    padding-top: 16rem;
    width: 100%;
    min-height: 106rem;
    background-image: url('./../../assets/img/Rectangle\ 5.png');
    background-size: cover;
    padding-left: min(12rem, 6%);
    padding-right:min(12rem, 6%);
    >h2{
        width: 42.8rem;
        color: #FFFCF3;
        margin-bottom: 4.8rem;
        white-space: nowrap;
        &:hover{
            transition: 250ms ease;
            color: #00BC8F;
            cursor: default;
        }
    }
}

.contact-container{
    >form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        >div:nth-child(1), :nth-child(2), :nth-child(3){
            margin-bottom: 3.2rem;
            >input{
                width:clamp(30rem, calc(60vw + 10rem), 61.7rem);
                height: 5rem;
                background: black;
                border: 4px solid transparent;
                border-bottom: 2px solid #FFFCF3;
                border-top: 3px solid transparent;
                font-family: 'Overpass';
                color: white;
                font-weight: 400;
                font-size: 1.8rem;
                padding: 0 16px;
                &:hover{
                    border: 4px solid #FFFCF3;
                    cursor: pointer;
                }
                &::placeholder{
                    font-family: 'Overpass';
                    font-weight: 400;
                    font-size: 1.8rem;
                    color: white;
                }
                &:focus{
                    outline: none;
                }
            }
            >input.infocus{
                border: 2px solid #FFFCF3;
                &:hover{
                    border: 2px solid #FFFCF3;
                }
            }
            >input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 1000px black inset !important;
            box-shadow: 0 0 0 1000px black inset !important;
            -webkit-text-fill-color: #fff !important;
            }
            >textarea{
                width: clamp(30rem, calc(60vw + 10rem), 61.7rem);
                height: 20.2rem;
                background: black;
                border: none;
                border: 4px solid transparent;
                border-bottom: 2px solid #FFFCF3;
                margin-bottom: 1.6rem;
                resize: none;
                color: white;
                font-weight: 400;
                font-size: 1.8rem;
                padding: 16px;
                &:hover{
                    border: 4px solid #FFFCF3;
                    cursor: pointer;
                }
                &::placeholder{
                    font-family: 'Overpass';
                    font-weight: 400;
                    font-size: 1.8rem;
                    color: white;
                }
                &:focus{
                    outline: none;
                }
            }
            >textarea.infocus{
                border: 2px solid #FFFCF3;
                &:hover{
                    border: 2px solid #FFFCF3;
                }
            }
            >span{
                position: absolute;
                left: -16px;
                bottom: -60px;
                font-size: 1.6rem;
                color: #E61C40;
            }
        }
        >textarea:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 1000px black inset !important;
            box-shadow: 0 0 0 1000px black inset !important;
            -webkit-text-fill-color: #fff !important;
        }
        button{
            width: 27rem;
            height: 7rem;
            margin-top: 4rem;
            background: black;
            border: 4px solid #FFFCF3;
            font-family: 'Overpass';
            font-weight: 400;
            font-size: 2.3rem;
            color: #FFFCF3;
            &:hover{
                transition: 250ms ease;
                cursor: pointer;
                transform: scaleX(1.1);
            }
        }
    }
    >p:nth-child(1){
        margin-bottom: 1.6rem;
        text-align: center;
        font-family: 'Overpass';
        font-weight: 700;
        font-size: 3.2rem;
        color: #00BC8F;
    }
    >p:nth-child(2){
        margin-bottom: 1.6rem;
        text-align: center;
        font-family: 'Overpass';
        font-weight: 400;
        font-size: 2.2rem;
        color: #FFFCF3;
    }   
}

.checkbox-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    >input{
        accent-color: black;
        width: 2.6rem;
        height: 2.6rem;
        border: solid #FFFCF3;
    }
    >span{
        display: flex;
        align-items: center;
        font-family: 'Overpass';
        font-size: 1.6rem;
        font-weight: 400;
        color: #FFFCF3;
        margin-left: 1.6rem;
        >a{
            color: #00BC8F;
        }
    }
}

button:disabled {
  color: #666 !important;         
  cursor: not-allowed;    
  box-shadow: none;       
  pointer-events: none;   
  transition: none;       
  border-color: #666 !important;
}


.input-image{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

.text-image{
    position: absolute;
    top: 20px;
    right: 20px;
}

.icon-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    >div:nth-child(1){
        >img{
           width: 11.6rem; 
           height: 10rem;
        }
        >p{
            font-family: 'Overpass';
            font-weight: 400;
            font-size: 2.2rem;
            color: #FFFCF3;
        }
    }
    >div:nth-child(2){
        margin-top: -10rem;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        gap: 3.6rem;
        >p{
            font-family: 'Overpass';
            font-weight: 400;
            font-size: 2.2rem;
            color: #FFFCF3;
        }
        >div:nth-child(2){
            display: flex;
            gap: 5.6rem;
            >img{
                &:hover{
                    cursor: pointer;
                    animation: icon-animation 250ms ease forwards;
                }
            }
        }
    }
}

.place-holder{
    background: black;
    font-family: 'Overpass';
    font-weight: 400;
    font-size: 1.8rem;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    animation: placeholderAnimation 250ms ease forwards;
    z-index: 50;
}

.place-holder-text{
    top: 24px;
}

@keyframes placeholderAnimation{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-34px);
    }
}

.arrow-container{
    height: 10rem;
    overflow: hidden;
    >img{
        transform: scaleY(1.6) translateY(30px);
        justify-self: center;
        padding-bottom: 4rem;
        z-index: 1;
        &:hover{
            transition: 250ms ease;
            transform: scaleY(1.6) translateY(10px);
        }
    }
}

.legal-notic-responsive{
    margin-top: 2rem;
}

@keyframes icon-animation{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-16px);
    }
}

@media(max-width:700px){
    .arrow-container{
        display: none;
    }
    .icon-area{
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 16rem;
        padding-bottom: 4rem;
        >div{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        >div:nth-child(2){
            >p{
                display: none;
            }
        }
    }
}

@media(min-width: 701px){
    .legal-notic-responsive{
        display: none;
    }
}