footer{
    width: min(1440px, 100%);
    padding-left: min(6rem, 3%);
    padding-right: min(6rem, 3%);
    justify-self: center;
    >h2{
        color: #FFFCF3;
        margin-bottom: 4.8rem;
        white-space: nowrap;
        &:hover{
            transition: 250ms ease;
            color: #00BC8F;
            cursor: default;
        }
    }
}

.contact-container{
    >p:nth-child(1){
        margin-bottom: 1.6rem;
        text-align: center;
        font-family: 'Overpass';
        font-weight: 700;
        font-size: 3.2rem;
        color: #00BC8F;
    }
    >p:nth-child(2){
        margin-bottom: 1.6rem;
        text-align: center;
        font-family: 'Overpass';
        font-weight: 400;
        font-size: 2.2rem;
        color: #FFFCF3;
    }   
}

.icon-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    >div:nth-child(1){
        >img{
           width: 11.6rem; 
           height: 5rem;
           &:hover{
            cursor: pointer;
           }
        }
        >p{
            padding-top: 3rem;
            font-family: 'Overpass';
            font-weight: 400;
            font-size: 2.2rem;
            color: #FFFCF3;
        }
    }
    >div:nth-child(2){
        margin-top: -10rem;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        gap: 3.6rem;
        >div:nth-child(2){
            display: flex;
            gap: 5.6rem;
            >a{
                >img{
                    &:hover{
                        cursor: pointer;
                        animation: icon-animation 250ms ease forwards;
                    }
                }
            }
        }
    }
}

.legal-notice{
    >p{
        font-family: 'Overpass';
        font-weight: 400;
        font-size: 2.2rem;
        color: #FFFCF3;
    }
    >img{
        opacity: 0;
    }
}

.animate-de{
    &:hover{
        cursor: pointer;
        >img{
            opacity: 1;
            animation: underlineAnimationDe 250ms ease forwards;
        }
    }
}

.animate-en{
    &:hover{
        cursor: pointer;
        >img{
            opacity: 1;
            animation: underlineAnimationEn 250ms ease forwards;
        }
    }
}

@keyframes underlineAnimationDe{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(50px);
    }
}

@keyframes underlineAnimationEn{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(15px);
    }
}

.arrow-container{
    height: 10rem;
    overflow: hidden;

    >img{
        transform: scaleY(1.6) translateY(30px);
        justify-self: center;
        padding-bottom: 4rem;
        z-index: 1;
        &:hover{
            cursor: pointer;
            transition: 250ms ease;
            transform: scaleY(1.6) translateY(10px);
        }
    }
}

.legal-notic-responsive{
    margin-top: 2rem;
}

.footer-wrapper{
    padding-top: 20rem;
    width: 100%;
    padding-bottom: 6rem;
}

.main{
    background-image: url('./../../assets/img/Rectangle\ 5.png');
    background-size: cover;
    min-height: 111rem;
}

.second{
    width: 100%;
    min-height: 30vh;
    background-image: url('./../../assets/img/Rectangle\ 5.png');
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@keyframes icon-animation{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-16px);
    }
}

@media(max-width:700px){
    .arrow-container{
        display: none;
    }

    .icon-area{
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 16rem;
        padding-bottom: 4rem;
        >div{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        >div:nth-child(2){
            >p{
                display: none;
            }
        }
    }

    .legal-notice{
        display: none;
    }

    .footer-wrapper{
        padding-bottom: 0;
        padding-top: 6rem;
    }
}

@media(min-width: 701px){
    .legal-notic-responsive{
        display: none;
    }
}

@keyframes header-animation{
  from{
    color: #fff;
  }
  to{
    color: #00BC8F;
  }
}

@media(max-width: 900px ){
  h2{
    animation: header-animation 2s ease-in-out infinite alternate !important;
  }
}

.thank-you-message{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding: 2rem 4rem;
    border: 2px solid #FFFCF3;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    text-align: center;
    font-family: 'Overpass';
    font-weight: 600;
    font-size: 2.4rem;
    color: #00BC8F;
    z-index: 10;
}

@keyframes thank-you-animation{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}