.overlay-links-warapper{
    width: 100%;
    height: 30vh;
    background-image: url(./../../assets/img/overlay_background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
}

.overlay-links{
    padding-top: 2rem;
    width: min(1440px ,100%);
    display: flex;
    justify-content: space-between;
    padding-left: min(6rem, 3%);
    padding-right:min(6rem, 3%);
    padding-bottom: 3vh;
    >div:nth-child(1){
        align-self: center;
        >p:nth-child(1){
            color: #FFFCF3;
            font-family: 'Syne';
            font-weight: 800;
            font-size:clamp(3.6rem, calc(6vw + 1rem), 7.8rem);
            &:hover{
                color: #00BC8F;
                cursor: default;
            }
        }
        >p:nth-child(2){
            font-family: 'Overpass';
            font-weight: 300;
            font-size: 23px;
            >a{
                color: #FFFCF3;
            }
        }
    }
    >div:nth-child(2){
        display: flex;
        align-self: flex-end;
        align-items: center;
        gap: 60px;
        >a{
            transition: 250ms ease;
            &:hover{
                transform: translateY(-12px);
            }
        }
    }
}

@media(max-width: 700px){
    .overlay-links{
        padding-top: 10rem;
        height: 20rem;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        text-align: center;
        >div:nth-child(1){
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
        >div:nth-child(2){
           align-self: center; 
        }
    }
}

@keyframes header-animation{
  from{
    color: #fff;
  }
  to{
    color: #00BC8F;
  }
}

@media(max-width: 900px ){
  .animated{
    animation: header-animation 2s ease-in-out infinite alternate;
  }
}