section{
    width: 100%;
    >div:nth-child(2){
        display: flex;
        justify-content: space-between;
        >div{
            width: 61rem;
            >p{
                font-family: 'Overpass';
                font-weight: 400;
                font-size: 2.2rem;
                margin-bottom: 8rem;
                margin-right: 8rem;
            }
            >div{
                >div{
                    display: flex;
                    align-items: center;
                    gap: 4rem;
                    margin-bottom: 4rem;
                    >img{
                        width: 4rem;
                        height: 4rem;
                    }
                    >span{
                        font-family: 'Overpass';
                        font-weight: 400;
                        font-size: 2.2rem;
                    }
                }
            }
        }
    } 
}

.button-container{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
    >button{
        font-family: 'Overpass';
        font-size: 2.2rem;
        font-weight: 400;
        width: 21.3rem;
        height: 6.8rem;
        border: 0.4rem solid black;
        background-color: #fffcf3;
        &:hover{
            cursor: pointer;
            transition: 250ms ease;
            transform: scaleX(1.1);
        }
    }
}

h2{
    margin-top: 10rem;
    font-size:clamp(3rem, calc(6vw + 1rem), 7.8rem);
    margin-bottom: min(8rem, 8%);
    white-space: nowrap;
}

.arrow-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    >img{
        width: 21.5rem;
        height: 21.5rem;
    }
}

@keyframes arrow-animation {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-100px, 100px);
  }
}

.arrow {
  opacity: 0;
}

.animate {
  animation: arrow-animation 800ms ease forwards;
  opacity: 1;
}

.image-wrapper {
    position: relative;
    display: inline-block;
    >img{
        width:clamp(24.9rem, calc(42vw + 10rem), 55.2rem);
        height: clamp(24.9rem, calc(42vw + 10rem), 55.2rem);
    
    }
}

.image-wrapper::after {
    width:clamp(24.9rem, calc(42vw + 10rem), 55.2rem);
    height: clamp(24.9rem, calc(42vw + 10rem), 55.2rem);
    content: "";
    position: absolute;
    top: 3rem;
    left: 3rem;
    right: -3rem;
    bottom: -3rem;
    border: 6px solid black;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; 
    z-index: 3;
}

.image-wrapper:hover::after {
    opacity: 1;
}

@media(max-width: 1200px ){
    section{
        h2{
            justify-self: center;
            text-align: center;
        }
        >div:nth-child(2){
            flex-direction: column;
            align-items: center;
            >div{
                display: flex;
                flex-direction: column;
                width: 100%;
                >p{
                    margin-right: 0;
                }
            }
            >div:nth-child(2){
                align-items: center;
            }
        }
    }
    .image-wrapper::after{
        justify-self: center;
    }
    .image-wrapper::after {
        width:clamp(23.9rem, calc(41vw + 10rem), 55.2rem);
        height: clamp(23.9rem, calc(41vw + 10rem), 55.2rem);
    }
}

@keyframes image-animation{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media (max-width: 900px) {
  .image-wrapper::after {
    content: '';
    position: absolute;
    top: 1rem;
    left: 1rem;
    right: -1rem;
    bottom: 0rem;
    opacity: 0;
    border: 4px solid black;
    animation: image-animation 2s ease infinite alternate;
  }
}