<section>
    <h2 class="black-header" id="aboutMe">{{"aboutMe.h2" | translate}}</h2>
    <div>
        <div>
            <p [innerHTML]="'aboutMe.description' | translate"></p>
            <div>
                <div><img src="assets/img/house.png" alt=""><span>{{"aboutMe.based" | translate}}</span></div>
                <div><img src="assets/img/laptop_chromebook.png" alt=""><span>{{"aboutMe.work" | translate}}</span></div>
                <div><a class="button-container" href="#contact"><button>{{"aboutMe.button" | translate}}</button></a></div>
            </div> 
        </div>
        <div class="image-wrapper">
            <img src="assets/img/profile-photo.jpg" alt="">
        </div>
    </div>
    <div class="arrow-container">
        <img class="arrow" appScrollAnimate="animate" src="assets/img/arrow-down-left.png" alt="">
    </div>
</section>


