<section>
    <h2>{{"about-me.h2" | translate}}</h2>
    <div>
        <div>
            <p [innerHTML]="'about-me.description' | translate"></p>
            <div>
                <div><img src="assets/img/house.png" alt=""><span>{{"about-me.based" | translate}}</span></div>
                <div><img src="assets/img/laptop_chromebook.png" alt=""><span>{{"about-me.work" | translate}}</span></div>
                <div class="button-container"><button>{{"about-me.button" | translate}}</button></div>
            </div> 
        </div>
        <div class="image-wrapper">
            <img src="assets/img/profile-photo.jpg" alt="">
        </div>
    </div>
    <div class="arrow-container">
        <img class="arrow" appScrollAnimate="animate" src="assets/img/arrow-down-left.png" alt="">
    </div>
</section>


