<section>
    <h1><p>{{'landingPage.h1' | translate}}</p>
        <div>
            <img src="assets/img/hero-underline.png" alt="underling">
            <span>Vadim Michel</span>
        </div> 
    </h1>
    <div class="lower-area">
        <p><a href="mailto:vadimmichel5@gmail.com">vadimmichel5&commat;gmail.com</a></p>
        <div>
            <div class="arrow-container" >
                <img class="arrow" src="assets/img/arrow-down.png" alt="arrow-down">
            </div>
            <p [innerHTML]="'landingPage.info' | translate"></p>
        </div>
    </div>
</section>

