section{margin-top: 10rem;
    z-index: 3;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: min(4rem, 6%);
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    >p{
        font-size: 12.8rem;
        font-family: 'Syne';
        font-weight: 800;
        text-align: center;
    }
    >div{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        >span{
            font-size: 4.8rem;
            color: #00BC8F;
            font-family: "Overpass";
            font-weight: 700;
        }
    }
}

.lower-area{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    >p{
        transform: rotate(-90deg);
        >a{
            color: black;
            font-size: 2.2rem;
            font-family: "Overpass";
            font-weight: 300;
        }
    }
    >div{
        >p{
            font-family: "Overpass";
            font-weight: 300;
            font-size: 2.2rem;
        }
    }
}

.arrow-container {
  position: relative;
  width: 11.6rem;
  height: 18rem;
  overflow: hidden; 
}

.arrow{
    animation:arrow-animation 2s ease-in-out infinite;
    transform:translateY(-11.6rem) ;
}

@keyframes arrow-animation {
    from{
      transform:translateY(-100%);  
    }
    to{
        transform:translateY(200%);
    }
}