<section>
  <div>
    <h2 class="black-header">{{ 'PRIVACY_POLICY.TITLE' | translate }}</h2>
    <h3>{{ 'PRIVACY_POLICY.SECTION1_TITLE' | translate }}</h3>
    <h4>{{ 'PRIVACY_POLICY.GENERAL_INFO_TITLE' | translate }}</h4>
    <p>{{ 'PRIVACY_POLICY.GENERAL_INFO_TEXT' | translate }}</p>
    <h4>{{ 'PRIVACY_POLICY.DATA_COLLECTION_TITLE' | translate }}</h4>
    <h5>{{ 'PRIVACY_POLICY.RESPONSIBLE_TITLE' | translate }}</h5>
    <p>{{ 'PRIVACY_POLICY.RESPONSIBLE_TEXT' | translate }}</p>
    <h5>{{ 'PRIVACY_POLICY.HOW_COLLECT_TITLE' | translate }}</h5>
    <p>{{ 'PRIVACY_POLICY.HOW_COLLECT_TEXT1' | translate }}</p>
    <p>{{ 'PRIVACY_POLICY.HOW_COLLECT_TEXT2' | translate }}</p>
    <h5>{{ 'PRIVACY_POLICY.USE_DATA_TITLE' | translate }}</h5>
    <p>{{ 'PRIVACY_POLICY.USE_DATA_TEXT' | translate }}</p>
    <h5>{{ 'PRIVACY_POLICY.RIGHTS_TITLE' | translate }}</h5>
    <p>{{ 'PRIVACY_POLICY.RIGHTS_TEXT1' | translate }}</p>
    <p>{{ 'PRIVACY_POLICY.RIGHTS_TEXT2' | translate }}</p>
    <h4>{{ 'PRIVACY_POLICY.ANALYTICS_TITLE' | translate }}</h4>
    <p>{{ 'PRIVACY_POLICY.ANALYTICS_TEXT1' | translate }}</p>
    <p>{{ 'PRIVACY_POLICY.ANALYTICS_TEXT2' | translate }}</p>
    <h3>{{ 'PRIVACY_POLICY.HOSTING_TITLE' | translate }}</h3>
    <p>{{ 'PRIVACY_POLICY.HOSTING_TEXT' | translate }}</p>
    <h4>{{ 'PRIVACY_POLICY.HOSTING_PROVIDER_TITLE' | translate }}</h4>
    <p>
      {{ 'PRIVACY_POLICY.HOSTING_PROVIDER_TEXT1' | translate }}
      <a href="https://all-inkl.com/datenschutzinformationen/" target="_blank" rel="noopener noreferrer">
        https://all-inkl.com/datenschutzinformationen/
      </a>.
    </p>
    <p>{{ 'PRIVACY_POLICY.HOSTING_PROVIDER_TEXT2' | translate }}</p>
    <h5>{{ 'PRIVACY_POLICY.PROCESSING_TITLE' | translate }}</h5>
    <p>{{ 'PRIVACY_POLICY.PROCESSING_TEXT' | translate }}</p>
    <h3>{{ 'PRIVACY_POLICY.GENERAL_SECTION_TITLE' | translate }}</h3>
    <h4>{{ 'PRIVACY_POLICY.DATA_PROTECTION_TITLE' | translate }}</h4>
    <p>{{ 'PRIVACY_POLICY.DATA_PROTECTION_TEXT1' | translate }}</p>
    <p>{{ 'PRIVACY_POLICY.DATA_PROTECTION_TEXT2' | translate }}</p>
    <p>{{ 'PRIVACY_POLICY.DATA_PROTECTION_TEXT3' | translate }}</p>
    <h4>{{ 'PRIVACY_POLICY.RESPONSIBLE_NOTICE_TITLE' | translate }}</h4>
    <p>{{ 'PRIVACY_POLICY.RESPONSIBLE_NOTICE_TEXT1' | translate }}</p>
    <p>{{ 'PRIVACY_POLICY.RESPONSIBLE_NOTICE_TEXT2' | translate }}</p>
    <p>{{ 'PRIVACY_POLICY.RESPONSIBLE_NOTICE_TEXT3' | translate }}</p>
    <p>{{ 'PRIVACY_POLICY.RESPONSIBLE_NOTICE_TEXT4' | translate }}</p>
    <h4>{{ 'PRIVACY_POLICY.STORAGE_DURATION_TITLE' | translate }}</h4>
    <p>{{ 'PRIVACY_POLICY.STORAGE_DURATION_TEXT' | translate }}</p>
    <h4>{{ 'PRIVACY_POLICY.LEGAL_BASIS_TITLE' | translate }}</h4>
    <p>{{ 'PRIVACY_POLICY.LEGAL_BASIS_TEXT' | translate }}</p>
    <h4>{{ 'PRIVACY_POLICY.RECIPIENTS_TITLE' | translate }}</h4>
    <p>{{ 'PRIVACY_POLICY.RECIPIENTS_TEXT' | translate }}</p>
    <h4>{{ 'PRIVACY_POLICY.REVOCATION_TITLE' | translate }}</h4>
    <p>{{ 'PRIVACY_POLICY.REVOCATION_TEXT' | translate }}</p>
    <h4>{{ 'PRIVACY_POLICY.OBJECTION_TITLE' | translate }}</h4>
    <p>{{ 'PRIVACY_POLICY.OBJECTION_TEXT1' | translate }}</p>
    <p>{{ 'PRIVACY_POLICY.OBJECTION_TEXT2' | translate }}</p>
    <h4>{{ 'PRIVACY_POLICY.COMPLAINT_TITLE' | translate }}</h4>
    <p>{{ 'PRIVACY_POLICY.COMPLAINT_TEXT' | translate }}</p>
    <h4>{{ 'PRIVACY_POLICY.DATA_PORTABILITY_TITLE' | translate }}</h4>
    <p>{{ 'PRIVACY_POLICY.DATA_PORTABILITY_TEXT' | translate }}</p>
    <h4>{{ 'PRIVACY_POLICY.ACCESS_CORRECTION_DELETION_TITLE' | translate }}</h4>
    <p>{{ 'PRIVACY_POLICY.ACCESS_CORRECTION_DELETION_TEXT' | translate }}</p>
    <h4>{{ 'PRIVACY_POLICY.RESTRICTION_TITLE' | translate }}</h4>
    <p>{{ 'PRIVACY_POLICY.RESTRICTION_TEXT1' | translate }}</p>
    <ul>
      <li>{{ 'PRIVACY_POLICY.RESTRICTION_LIST1' | translate }}</li>
      <li>{{ 'PRIVACY_POLICY.RESTRICTION_LIST2' | translate }}</li>
      <li>{{ 'PRIVACY_POLICY.RESTRICTION_LIST3' | translate }}</li>
      <li>{{ 'PRIVACY_POLICY.RESTRICTION_LIST4' | translate }}</li>
    </ul>
    <p>{{ 'PRIVACY_POLICY.RESTRICTION_TEXT2' | translate }}</p>
    <h4>{{ 'PRIVACY_POLICY.SSL_TITLE' | translate }}</h4>
    <p>{{ 'PRIVACY_POLICY.SSL_TEXT1' | translate }}</p>
    <p>{{ 'PRIVACY_POLICY.SSL_TEXT2' | translate }}</p>
    <h3>{{ 'PRIVACY_POLICY.DATA_COLLECTION_SECTION_TITLE' | translate }}</h3>
    <h4>{{ 'PRIVACY_POLICY.SERVER_LOG_TITLE' | translate }}</h4>
    <p>{{ 'PRIVACY_POLICY.SERVER_LOG_TEXT1' | translate }}</p>
    <ul>
      <li>{{ 'PRIVACY_POLICY.SERVER_LOG_LIST1' | translate }}</li>
      <li>{{ 'PRIVACY_POLICY.SERVER_LOG_LIST2' | translate }}</li>
      <li>{{ 'PRIVACY_POLICY.SERVER_LOG_LIST3' | translate }}</li>
      <li>{{ 'PRIVACY_POLICY.SERVER_LOG_LIST4' | translate }}</li>
      <li>{{ 'PRIVACY_POLICY.SERVER_LOG_LIST5' | translate }}</li>
      <li>{{ 'PRIVACY_POLICY.SERVER_LOG_LIST6' | translate }}</li>
    </ul>
    <p>{{ 'PRIVACY_POLICY.SERVER_LOG_TEXT2' | translate }}</p>
    <p>{{ 'PRIVACY_POLICY.SERVER_LOG_TEXT3' | translate }}</p>
    <h4>{{ 'PRIVACY_POLICY.CONTACT_FORM_TITLE' | translate }}</h4>
    <p>{{ 'PRIVACY_POLICY.CONTACT_FORM_TEXT1' | translate }}</p>
    <p>{{ 'PRIVACY_POLICY.CONTACT_FORM_TEXT2' | translate }}</p>
    <p>{{ 'PRIVACY_POLICY.CONTACT_FORM_TEXT3' | translate }}</p>
    <h4>{{ 'PRIVACY_POLICY.REQUEST_EMAIL_TITLE' | translate }}</h4>
    <p>{{ 'PRIVACY_POLICY.REQUEST_EMAIL_TEXT1' | translate }}</p>
    <p>{{ 'PRIVACY_POLICY.REQUEST_EMAIL_TEXT2' | translate }}</p>
    <p>{{ 'PRIVACY_POLICY.REQUEST_EMAIL_TEXT3' | translate }}</p>
    <h3>{{ 'PRIVACY_POLICY.PLUGINS_TITLE' | translate }}</h3>
    <h4>{{ 'PRIVACY_POLICY.GOOGLE_FONTS_TITLE' | translate }}</h4>
    <p>{{ 'PRIVACY_POLICY.GOOGLE_FONTS_TEXT1' | translate }}</p>
    <p>
      {{ 'PRIVACY_POLICY.GOOGLE_FONTS_TEXT2' | translate }}
      <a href="https://developers.google.com/fonts/faq" target="_blank" rel="noopener noreferrer">
        https://developers.google.com/fonts/faq
      </a>
      {{ 'PRIVACY_POLICY.GOOGLE_FONTS_TEXT3' | translate }}
      <a href="https://policies.google.com/privacy?hl=de" target="_blank" rel="noopener noreferrer">
        https://policies.google.com/privacy?hl=de
      </a>.
    </p>
    <p>
      {{ 'PRIVACY_POLICY.SOURCE' | translate }}
      <a href="https://www.e-recht24.de">https://www.e-recht24.de</a>
    </p>
  </div>
</section>
