<section>
    <div>
        <h2>{{"legalNotice.h2" | translate }}</h2>
        <h3>{{"legalNotice.imprint" | translate }}</h3>
        <ul>
            <li>Vadim Michel</li>
            <li>Kleiststr. 11</li>
            <li>29614 Soltau</li>
        </ul>
        <h3>{{"legalNotice.exploringTheBoard" | translate }}</h3>
        <a href="mailto:vadimmichel5@gmail.com">vadimmichel5&#64;gmail.com</a>
        <h3>{{"legalNotice.acceptanceOfTerms" | translate }}</h3>
        <p>{{"legalNotice.acceptanceOfTerms1" | translate }}<span>Portfolio</span>{{"legalNotice.acceptanceOfTerms2" | translate }}</p>
        <h3>{{"legalNotice.scope" | translate }}</h3>
        <p><span>Portfolio</span>{{"legalNotice.scope1" | translate }}<span>Developer Akademie GmbH</span>{{"legalNotice.scope2" | translate }}</p><br>
        <br>
        <p>{{"legalNotice.scope3" | translate }}<span>Portfolio</span>{{"legalNotice.scope4" | translate }}<span>Developer Akademie GmbH</span>{{"legalNotice.scope5" | translate }}</p>
        <h3>{{"legalNotice.proprietary" | translate }}</h3>
        <p>{{"legalNotice.proprietary1" | translate }} <span>Developer Akademie GmbH</span>{{"legalNotice.proprietary2" | translate }}<span>Portfolio</span>{{"legalNotice.proprietary3" | translate }}</p>
        <h3>{{"legalNotice.use" | translate }}</h3>
        <p><span>Portfolio</span> {{"legalNotice.use1" | translate }} <span>Portfolio</span>{{"legalNotice.use2" | translate }}<span>Portfolio</span>.</p>
        <h3>{{"legalNotice.disclaimer" | translate }}</h3>
        <p><span>Portfolio</span> {{"legalNotice.disclaimer1" | translate }} <span>Developer Akademie</span>{{"legalNotice.disclaimer2" | translate }}<span>Portfolio</span> {{"legalNotice.disclaimer3" | translate }}</p>
        <h3>{{"legalNotice.indemnity" | translate }}</h3>
        <p>{{"legalNotice.indemnity1" | translate }}<span>Developer Akademie</span>{{"legalNotice.indemnity2" | translate }}<span>Portfolio</span>{{"legalNotice.indemnity3" | translate }}</p>
        <br>
        <br>
        <p>{{"legalNotice.indemnity4" | translate }} <a href="mailto:vadimmichel5@gmail.com">vadimmichel5&#64;gmail.com</a></p>
        <br>
        <br>
        <p>{{"legalNotice.indemnity5" | translate }}</p>
    </div>
</section>
