<div class="nav-wrapper">
    <nav>
        <img src="assets/img/vm-high-resolution-logo-Photoroom.png" alt="">
        <div>
            <div class="language-wrapper">
                <span (click)="changeLanguage('en')" [class.border-color]='defaultLanguage' [class.border-placeholder]='!defaultLanguage'>EN</span>
                <img [class.language-animation]='!defaultLanguage' src="assets/icons/language_animation.svg" alt="">
            </div>
            <div class="language-wrapper">
                <span (click)="changeLanguage('de')" [class.border-color]='!defaultLanguage' [class.border-placeholder]='defaultLanguage'>DE</span>
                <img [class.language-animation]='defaultLanguage' src="assets/icons/language_animation.svg" alt="">
            </div>
            <div class="hamburger" [class.open]="isMenuOpen" (click)="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="mobile-menu" [class.active]="isMenuOpen">
            <ul>
                <li>
                    <a (click)="toggleMenu()" href="#aboutMe">{{"aboutMe.h2" | translate }}
                        <img class="default-img" src="assets/icons/overlay-animation-default.svg" alt="">
                        <img class="animation-img" src="assets/icons/overlay-animation.svg" alt="">
                    </a>
                </li>
                <li>
                    <a (click)="toggleMenu()" href="#mySkills">{{"mySkills.h2" | translate }}
                        <img class="default-img" src="assets/icons/overlay-animation-default.svg" alt="">
                        <img class="animation-img" src="assets/icons/overlay-animation.svg" alt="">
                    </a>
                </li>
                <li>
                    <a (click)="toggleMenu()" href="#portfolio">Portfolio
                        <img class="default-img" src="assets/icons/overlay-animation-default.svg" alt="">
                        <img class="animation-img" src="assets/icons/overlay-animation.svg" alt="">
                    </a>
                </li>
            </ul>
            <div class="overlay-links-warapper">
                <div class="overlay-links">
                    <div>
                        <p>{{"footer.h2" | translate }}</p>
                        <p><a href="mailto:vadimmichel5@gmail.com">vadimmichel5&commat;gmail.com</a></p>
                    </div>
                    <div>
                        <a href="https://www.github.com/VadimMichel" target="_blank"><img src="assets/icons/git.png" alt=""></a>
                        <a href="https://www.linkedin.com/in/vadim-michel-088792239/?lipi=urn%3Ali%3Apage%3Ad_flagship3_notifications%3BY7T%2BrF6ZT1656PYLN9go3w%3D%3D" target="_blank"><img src="assets/icons/linkedin.png" alt=""></a>
                        <a href="mailto:vadimmichel5@gmail.com"><img src="assets/icons/mail.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

