<nav>
    <img src="assets/img/vm-high-resolution-logo-Photoroom.png" alt="">
    <div>
        <div class="language-wrapper">
            <span (click)="changeLanguage('en')" [class.border-color]='defaultLanguage' [class.border-placeholder]='!defaultLanguage'>EN</span>
            <img [class.language-animation]='!defaultLanguage' src="./../../assets/icons/language_animation.svg" alt="">
        </div>
        <div class="language-wrapper">
            <span (click)="changeLanguage('de')" [class.border-color]='!defaultLanguage' [class.border-placeholder]='defaultLanguage'>DE</span>
            <img [class.language-animation]='defaultLanguage' src="./../../assets/icons/language_animation.svg" alt="">
        </div>
        
        <div class="hamburger" [class.open]="isMenuOpen" (click)="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="mobile-menu" [class.active]="isMenuOpen">
        <ul>
            <li>
                <a href="#">{{"aboutMe.h2" | translate }}
                    <img class="default-img" src="./../../assets/icons/overlay-animation-default.svg" alt="">
                    <img class="animation-img" src="./../../assets/icons/overlay-animation.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">{{"mySkills.h2" | translate }}
                    <img class="default-img" src="./../../assets/icons/overlay-animation-default.svg" alt="">
                    <img class="animation-img" src="./../../assets/icons/overlay-animation.svg" alt="">
                </a>
            </li>
            <li><a href="#">Portfolio
                    <img class="default-img" src="./../../assets/icons/overlay-animation-default.svg" alt="">
                    <img class="animation-img" src="./../../assets/icons/overlay-animation.svg" alt="">
                </a>
            </li>
        </ul>
        <div class="overlay-links">
            <div>
                <p>{{"footer.h2" | translate }}</p>
                <p><a href="mailto:vadimmichel5@gmail.com">vadimmichel5&commat;gmail.com</a></p>
            </div>
            <div>
                <a href="#"><img src="./../../assets/icons/git.png" alt=""></a>
                <a href="#"><img src="./../../assets/icons/linkedin.png" alt=""></a>
                <a href="mailto:vadimmichel5@gmail.com"><img src="./../../assets/icons/mail.png" alt=""></a>
            </div>
        </div>
    </div>
</nav>

