<nav>
    <img src="assets/img/vm-high-resolution-logo-Photoroom.png" alt="">
    <div>
        <span class="border-color">EN</span>
        <span class="border-placeholder">DE</span>
        <div class="hamburger" [class.open]="isMenuOpen" (click)="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="mobile-menu" [class.active]="isMenuOpen">
        <ul>
            <li>
                <a href="#">About me
                <img class="default-img" src="./../../assets/icons/overlay-animation-default.svg" alt="">
                <img class="animation-img" src="./../../assets/icons/overlay-animation.svg" alt="">
                </a>
            </li>
            <li>
                <a href="#">My skills
                <img class="default-img" src="./../../assets/icons/overlay-animation-default.svg" alt="">
                <img class="animation-img" src="./../../assets/icons/overlay-animation.svg" alt="">
                </a>
            </li>
            <li><a href="#">Portfolio
                <img class="default-img" src="./../../assets/icons/overlay-animation-default.svg" alt="">
                <img class="animation-img" src="./../../assets/icons/overlay-animation.svg" alt="">
                </a>
        </ul>
    </div>
</nav>

