nav{
    width: min(1440px ,100%);
    height: 10rem;
    padding-left: min(6rem, 3%);
    padding-right: min(6rem, 3%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    >img{
        width: 12rem;
        height: 6rem;
        &:hover{
            cursor: pointer;
        }
    }
    >div{
        display: flex;
        align-items: center;
        gap: 2rem;
        >img{
            margin-left: 1rem;
            width: 4rem;
            height: 3.2rem;
            &:hover{
            cursor: pointer;
        }
        }
    }
}

.nav-wrapper{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(255,252,243);
    display: flex;
    justify-content: center;
}

.language-wrapper {
    position: relative;
    img {
        position: absolute;
        bottom: 0;
        left: 0;
        transition: transform 0.3s ease;
        opacity: 0;
    }
    span {
        font-size: 1.6rem;
        font-family: 'Syne';
        font-weight: 700;
        padding: 0.4rem;
        cursor: pointer;
        &:hover + .language-animation {
            transform: translateX(16px);
            opacity: 1;
        }
    }
}

.border-color{
    border: 3px solid #00BC8F;
}

.border-placeholder{
    border: 3px solid transparent;

}

.hamburger {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1000;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 2px;
  transition: 0.3s ease;
}


.hamburger.open span:nth-child(1) {
  transform: translateY(8.5px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: translateY(-8.5px) rotate(-45deg);
}

.overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.mobile-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 10rem;
    right: 0;
    width: 100%;
    height: calc(100vh - 10rem);
    background: #FFFCF3;
    z-index: 6;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    >ul{
        overflow: hidden;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-left: 3rem;
        >li{
            a {
                width: auto;
                position: relative;
                font-family: 'Syne';
                font-weight: 700;
                font-size:clamp(3.6rem, calc(6vw + 2rem), 9.6rem);
                color: black;
                display: inline-block;
                white-space: nowrap;
                .default-img {
                    width:clamp(1.6rem, calc(3vw + 1rem), 4rem);
                    position: absolute;
                    bottom: 0;
                    left: -20px;
                    transition: opacity 300ms ease;
                    opacity: 1;
                }
                .animation-img {
                    width:clamp(20.6rem, calc(30vw + 10rem), 58rem);
                    height: auto;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    opacity: 0;
                    transform: translateX(0);
                    transition: transform 300ms ease, opacity 300ms ease;
                }
                &:hover {
                    .default-img {
                    opacity: 0;
                    }
                    .animation-img {
                    opacity: 1;
                    transform: translateX(296px);
                    }
                }
            } 
        }
    }
}

.mobile-menu.active {
  transform: translateX(0);
}

.overlay-links-warapper{
    width: 100%;
}
