section{
  width: 100%;
  font-family: 'Overpass';
  font-weight: 400;
  font-size: 1.8rem;
  h2{
    text-align: center;
    margin-bottom: 6rem;
    font-size:clamp(3rem, calc(6vw + 1rem), 7.8rem);
  }
  >p:nth-child(2){
    justify-self: center;
    max-width: 56rem;
    font-size: 2.2rem;
    text-align: center;
  }
  >div{
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    text-align: center;
  }
}

.reference{
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 39.7rem;
    height: 34.4rem;
    border:0.4rem solid black;
    &:hover{
        transition: 250ms ease;
        border:0.4rem solid #00BC8F;
        >p:nth-child(1){
            transition: 250ms ease;
            color: #00BC8F;
        }
    }
    >p:nth-child(1){
        font-size: 6rem;
    }
    >p:nth-child(2){
        font-size: 2.2rem;
        font-weight: 700;
    }
    >p:nth-child(4){
      overflow: auto;
    }
}

.arrow-container{
  justify-self: flex-end;
  display: flex;
  justify-content: flex-end;
  >img{
    width: 21.5rem;
    height: 21.5rem;
  }
}

@keyframes arrow-animation {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-100px, 30px);
  }
}

.arrow {
  opacity: 0;
}

.arrow.animate {
  animation: arrow-animation 800ms ease forwards;
  opacity: 1;
}

@media(max-width: 880px){
  section{
    >p:nth-child(2){
      text-align: start;
      justify-self: flex-start;
    }
    >div{
      >div{
        >p:nth-child(4){
          text-align: start;
        }
      }
    }
  }
}