<section>
    <h2 class="black-header">{{"references.h2" | translate}}</h2>
    <p>{{"references.description" | translate}}</p>
    <div>
        @for (singleReference of reference; track singleReference.name) {
            <div class="reference">
                <p>’’</p>
                <p>{{singleReference.name | translate}}</p>
                <p>Team Partner</p>
                <p>{{singleReference.comment | translate}}</p>
            </div>
        }
    </div>
    <div class="arrow-container">
        <img class="arrow" appScrollAnimate="animate" src="assets/img/arrow-down-left.png" alt="">
    </div>
</section>
