<section id="mySkills">
    <h2>{{"mySkills.h2" | translate}}</h2>
    <div>
        @for (logo of logos; track logo.name) {
            <div class="logo-container">
                <img src="{{logo.imgUrl}}" alt="{{logo.imgUrl}}">
                <p>{{logo.name}}</p>
            </div>
        }
    </div>
    <div>
        <img src="assets/img/logos/new_skill_logo.png" alt="new_skill_logo">
        <span [innerHTML]="'mySkills.description' | translate"></span>
    </div>
</section>
<div class="arrow-container">
    <img class="arrow" appScrollAnimate="animate" src="assets/img/arrow-down-right.svg" alt="arrow_down_right">
</div>