section{
    width: 100%;
    height: auto;
    padding: min(4rem, 6%);
    border: 5px solid black;
    >h2{
        font-size: 7.8rem;
        margin-top:-9rem ;
        justify-self: center;
        width: auto;
        background: #FFFCF3;
        white-space: nowrap;
    }
    >div:nth-child(2){
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        gap: min(7rem, 12%);
    }
    >div:nth-child(3){
        margin-top: min(7rem, 12%);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: min(7rem, 12%);
        >span{
            font-family: 'Overpass';
            font-weight: 700;
            font-size: 1.6rem; 
        }
        >img{
            &:hover{
                animation: logo-animation 300ms ease;
            }
        }
    }
}

a{
    color: #00BC8F !important;
    margin: 1rem !important;  
}

.link{
    color: #00BC8F;
    margin: 1rem;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin-top: min(7rem, 12%);
    >p{
        font-family: 'Overpass';
        font-weight: 700;
        font-size: 1.6rem;
    }
    &:hover{
        >img{
            animation: logo-animation 400ms ease;
        }
        >p{
            color: #00BC8F;
        }
    }
}

.arrow-container{
    height: 30rem;
}

@keyframes arrow-animation {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(400px, 70px);
  }
}

@keyframes arrow-animation-responsive {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(18vw, 6vh);
  }
}

.arrow {
  opacity: 0;
  transform: translate(0, 0);
  transition: opacity 0.3s ease;
}

.arrow.animate {
  animation: arrow-animation 800ms ease forwards;
  opacity: 1;
}

@keyframes logo-animation {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(24px) scale(0.9);
    }
    50%{
        transform: translateX(0) translateY(16px) scale(0.8);
    }
    75%{
        transform: translateX(-24px) translateY(0px) scale(0.9);
    }
    100%{
        transform: translateX(0px) translateY(0px);
    }
}

@media(max-width: 1000px){
    .arrow.animate {
        animation: arrow-animation-responsive 800ms ease forwards;
    }
}

@media(max-width: 700px){
    section{
        h2{
        font-size: 3.6rem;
        margin-top: -5.5rem;
        }
        >div{
            padding-top: 2rem;
        }
    }
    
}

@media(max-width: 420px){
    section{
        h2{
        margin-top: -4.5rem;
        }
        >div:nth-child(3){
            flex-direction: column;
            gap: 2rem;
        }
    }
}

