@import './fonts.scss';

*{
  padding: 0;
  margin: 0;
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  z-index: 1;
}

body{
  background-color: rgb(255,252,243);
  display: flex;
  flex-direction: column;
  align-items: center;
}

html{
  font-size: 10px;
}

h2{
  font-family: 'Syne';
  font-weight: 800;
  font-size:clamp(3.6rem, calc(6vw + 1rem), 7.8rem);
  &:hover{
    transition: 250ms ease;
    color: #00BC8F;
    cursor: default;
  }
}

.link{
  color: #00BC8F;
  margin: 0.4rem;
}

body.no-scroll {
  overflow: hidden;
}

.width100{
  width: 100%;
}

@keyframes header-animation{
  from{
    color: black;
  }
  to{
    color: #00BC8F;
  }
}

@media(max-width: 900px ){
  h2{
    animation: header-animation 2s ease-in-out infinite alternate;
  }
}